img.logo {
    float: left;
}

a.navbar-brand {
    margin-left: 20px;
    padding-left: 20px;
    font-size: 25px;
    color: black;
}

.navbar {
    margin-bottom: 2px;
}

.login-description {
    color: #fff;
}

#create-btn {
    margin-top: 20px;
}

.col-interval {
    border-right: 1px solid #2b2b2b;
}

#schedule-table thead th {
    text-align: center;
    cursor: pointer;
}

.heading {
    color: #276591;
}

.R-cell {
    color: #fff;
    font-weight: 500;
    background-color: #cd2027;
}

.R-cell:hover {
    color: #fff;
    font-weight: 700;
    background-color: #b91d23;
}

.D-cell {
    color: #fff;
    font-weight: 500;
    background-color: #cdb320;
}

.D-cell:hover {
    color: #fff;
    font-weight: 700;
    background-color: #c1a921;
}

.N-cell {
    color: #fff;
    font-weight: 500;
    background-color: #2096cd;
}

.N-cell:hover {
    color: #fff;
    font-weight: 700;
    background-color: #1c84b5;
}

.E-cell {
    color: #fff;
    font-weight: 500;
    background-color: #122b40;
}

.E-cell:hover {
    color: #fff;
    font-weight: 700;
    background-color: #122b60;
}

.L-cell {
    color: #fff;
    font-weight: 500;
    background-color: #ffff00;
}

.L-cell:hover {
    color: #fff;
    font-weight: 500;
    background-color: #fff000;
}

.nurse-column {
    min-width: 200px;
}

#contact-page {
    color: #d3d3d3;
}

#contact-page .contact-heading {
    font-size: 90px;
    color: #d58512;
}

.line-below {
    border-bottom: 2px dotted #d58512;
}

.contact-list {
    text-align: left;
    font-size: 30px;
}

.contact-list li {
    padding-top: 40px;
    padding-bottom: 30px;
}

.contact-list li i {
    color: #d58512;
}