<!-- about section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <h1 class="heading bold">OUR AGENCY</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/when-selling-apple-.png" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="bold">PRIME SOFTWARE</h3>
                <h1 class="heading bold">Best software supporter in Cracov</h1>
                <!-- Nav tabs -->
                <br>
                <h3>Software for creating <strong>SCHEDULE's</strong></h3>
                <!-- tab panes -->
                <div class="row" style="padding: 4px; border-right: 2px solid #fff; border-bottom: 2px solid #fff;">
                    <div class="col-sm-10">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="design">
                                <p>We have created software that will allow you to <strong>quickly</strong> generate a schedule for your employees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="schedule-image" >
                            <img src="assets/images/intro02.png" width="100%">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <section class="section2">
        <div id="single-out" class="container">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <br><br>
                    <h1 class="heading bold">WHAT MAKES US STANDS OUT</h1>
                    <hr>
                </div>
            </div>
            <div class="row  section s1 top-grids">
                <div class="col-md-3 top-grid">
                    <span class="icon1"> </span>
                    <h2>Responsive Design</h2>
                    <p>We create fully responsive applications.</p>
                </div>
                <div class="col-md-3 top-grid">
                    <span class="icon2"> </span>
                    <h2>Web Development</h2>
                    <p>We create web applications using best technologies, with pixels quality and worked in all modern browsers.</p>
                </div>
                <div class="col-md-3 top-grid">
                    <span class="icon3"> </span>
                    <h2>Quick Action</h2>
                    <p>We created software which is very quickly in use. You will save your time.</p>
                </div>
                <div class="col-md-3 top-grid">
                    <span class="icon4"> </span>
                    <h2>Compatibility</h2>
                    <p>We are making applications which are compability to all popular operating systems like iOS, Windows Mobile, Android. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <br><br>
                    <h1 class="heading bold">OUR TEAM</h1>
                    <hr>
                </div>
            </div>
            <div class="row  section s1 top-grids">

            </div>
        </div>
    </section>
</section>