<!-- === Slide 6 / Contact === -->
<div class="slide story" id="contact-page"  data-slide="6">
    <div class="container">
        <div class="row little-row">
            <div class="col-md-12">
                <h1 class="contact-heading"><strong>Contact</strong></h1>
                <hr>
                <h3>For more information email us, call us, or come to us at the address below:</h3>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled contact-list">
                    <li><i class="fa fa-phone"></i> +48 660 423 897 </li>
                    <li><i class="fa fa-envelope"></i> Informatykapk2013@gmail.com</li>
                    <li><i class="fa fa-map-marker"></i> Politechnika Krakowska ul. Długa </li>
                </ul>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.7807077535667!2d19.940669415717736!3d50.0716683794249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41a815e1860a19eb!2sPolitechnika+Krakowska+im.+Tadeusza+Ko%C5%9Bciuszki!5e0!3m2!1spl!2spl!4v1465382621235" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /Slide 6 -->