<div class="container" ng-controller="creatorController">
    <div class="row">
        <div class="heading">
            <h1>Click the button bellow to create <strong>SCHEDULE</strong></h1>
            <div class="col-md-2 col-md-offset-5 arrow bounce">

            </div>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <div class="buttons">
                <a ng-click="createScheduler()" class="power-btn" href=""><img src="assets/images/power-button.png"></a>
                <!--<a ng-click="createScheduler()" class="reload-btn" href=""><img src="assets/images/loading.png"></a>-->
            </div>
        </div>
    </div>
    <div id="loader" class="row">
        <div class="col-md-12">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>
    <div id="schedule-area" class="row">
        <div class="col-md-12" style="overflow-x: scroll">
            <div>
                <table id="schedule-table" datatable="ng" class="row-border hover">
                    <thead>
                    <tr>
                        <th class="col-interval nurse-column">Nurse</th>
                        <th> Mon</th>
                        <th> Tue</th>
                        <th> Wed</th>
                        <th> Thu</th>
                        <th> Fri</th>
                        <th> Sat</th>
                        <th class="col-interval"> Sun</th>
                        <th> Mon</th>
                        <th> Tue</th>
                        <th> Wed</th>
                        <th> Thu</th>
                        <th> Fri</th>
                        <th> Sat</th>
                        <th class="col-interval"> Sun</th>
                        <th> Mon</th>
                        <th> Tue</th>
                        <th> Wed</th>
                        <th> Thu</th>
                        <th> Fri</th>
                        <th> Sat</th>
                        <th class="col-interval"> Sun</th>
                        <th> Mon</th>
                        <th> Tue</th>
                        <th> Wed</th>
                        <th> Thu</th>
                        <th> Fri</th>
                        <th> Sat</th>
                        <th class="col-interval"> Sun</th>
                        <th> Mon</th>
                        <th> Tue</th>
                        <th> Wed</th>
                        <th> Thu</th>
                        <th> Fri</th>
                        <th> Sat</th>
                        <th> Sun</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in contents">
                        <td class="col-interval">{{ person.nurse[0].id }} {{ person.nurse[0].firstName }} {{ person.nurse[0].secondName }} ( {{ person.nurse[0].hours }} )</td>
                        <td class="{{ person.week[0].MONDAY }}-cell">{{ person.week[0].MONDAY }}</td>
                        <td class="{{ person.week[0].TUESDAY }}-cell">{{ person.week[0].TUESDAY }}</td>
                        <td class="{{ person.week[0].WEDNESDAY }}-cell">{{ person.week[0].WEDNESDAY }}</td>
                        <td class="{{ person.week[0].THURSDAY }}-cell">{{ person.week[0].THURSDAY }}</td>
                        <td class="{{ person.week[0].FRIDAY }}-cell">{{ person.week[0].FRIDAY }}</td>
                        <td class="{{ person.week[0].SATURDAY }}-cell">{{ person.week[0].SATURDAY }}</td>
                        <td class="{{ person.week[0].SUNDAY }}-cell col-interval">{{ person.week[0].SUNDAY }}</td>
                        <td class="{{ person.week[1].MONDAY }}-cell">{{ person.week[1].MONDAY }}</td>
                        <td class="{{ person.week[1].TUESDAY }}-cell">{{ person.week[1].TUESDAY }}</td>
                        <td class="{{ person.week[1].WEDNESDAY }}-cell">{{ person.week[1].WEDNESDAY }}</td>
                        <td class="{{ person.week[1].THURSDAY }}-cell">{{ person.week[1].THURSDAY }}</td>
                        <td class="{{ person.week[1].FRIDAY }}-cell">{{ person.week[1].FRIDAY }}</td>
                        <td class="{{ person.week[1].SATURDAY }}-cell">{{ person.week[1].SATURDAY }}</td>
                        <td class="{{ person.week[1].SUNDAY }}-cell col-interval">{{ person.week[1].SUNDAY }}</td>
                        <td class="{{ person.week[2].MONDAY }}-cell">{{ person.week[2].MONDAY }}</td>
                        <td class="{{ person.week[2].TUESDAY }}-cell">{{ person.week[2].TUESDAY }}</td>
                        <td class="{{ person.week[2].WEDNESDAY }}-cell">{{ person.week[2].WEDNESDAY }}</td>
                        <td class="{{ person.week[2].THURSDAY }}-cell">{{ person.week[2].THURSDAY }}</td>
                        <td class="{{ person.week[2].FRIDAY }}-cell">{{ person.week[2].FRIDAY }}</td>
                        <td class="{{ person.week[2].SATURDAY }}-cell">{{ person.week[2].SATURDAY }}</td>
                        <td class="{{ person.week[2].SUNDAY }}-cell col-interval">{{ person.week[2].SUNDAY }}</td>
                        <td class="{{ person.week[3].MONDAY }}-cell">{{ person.week[3].MONDAY }}</td>
                        <td class="{{ person.week[3].TUESDAY }}-cell">{{ person.week[3].TUESDAY }}</td>
                        <td class="{{ person.week[3].WEDNESDAY }}-cell">{{ person.week[3].WEDNESDAY }}</td>
                        <td class="{{ person.week[3].THURSDAY }}-cell">{{ person.week[3].THURSDAY }}</td>
                        <td class="{{ person.week[3].FRIDAY }}-cell">{{ person.week[3].FRIDAY }}</td>
                        <td class="{{ person.week[3].SATURDAY }}-cell">{{ person.week[3].SATURDAY }}</td>
                        <td class="{{ person.week[3].SUNDAY }}-cell col-interval">{{ person.week[3].SUNDAY }}</td>
                        <td class="{{ person.week[4].MONDAY }}-cell">{{ person.week[4].MONDAY }}</td>
                        <td class="{{ person.week[4].TUESDAY }}-cell">{{ person.week[4].TUESDAY }}</td>
                        <td class="{{ person.week[4].WEDNESDAY }}-cell">{{ person.week[4].WEDNESDAY }}</td>
                        <td class="{{ person.week[4].THURSDAY }}-cell">{{ person.week[4].THURSDAY }}</td>
                        <td class="{{ person.week[4].FRIDAY }}-cell">{{ person.week[4].FRIDAY }}</td>
                        <td class="{{ person.week[4].SATURDAY }}-cell">{{ person.week[4].SATURDAY }}</td>
                        <td class="{{ person.week[4].SUNDAY }}-cell">{{ person.week[4].SUNDAY }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>