<!-- === Arrows === -->
<div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->

<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <h1 class="font-semibold">PRIME <span class="font-thin">SOFTWARE</span></h1>
                <h4 class="font-thin">We are an <span class="font-semibold">independent developers team</span> from Cracov.</h4>
                <br>
                <br>
            </div><!-- /col-12 -->
        </div><!-- /row -->
        <div id="home-row-2" class="row clearfix">
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="assets/images/s02.png"></div><span>PROFESSIONAL</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="assets/images/s01.png"></div><span>FRIENDLY</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="assets/images/s03.png"></div><span>SUITABLE</span></div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide1 -->