<div class="container">
 <div class="row">
    <div class="col-sm-5">
        <div class="col-sm-12 text">
            <br><br>
            <h1>Login to our <br><strong>schedule creator</strong></h1>
            <div class="description">
                <p class="login-description">
                    Login to our creator with permissions for create schedule or for only display.
                </p>
                <br>
            </div>
        </div>
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Login to our site</h3>
                    <p>Enter username and password to log on:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" ng-submit="login()" class="login-form">
                    <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" class=" form-username form-control" id="username" name="username" ng-model="credentials.username" placeholder="Username...">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" class="form-password form-control" id="password" name="password" ng-model="credentials.password" placeholder="Password...">
                    </div>
                    <button type="submit" class="btn">Sign in!</button>
                </form>
            </div>
        </div>

    </div>

    <div class="col-sm-1 middle-border"></div>
    <div class="col-sm-1"></div>

    <div class="col-sm-5">

        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Sign up now</h3>
                    <p>Fill in the form below to get instant access:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" action="http://localhost:8080/create" method="get" class="registration-form">
                    <div class="form-group">
                        <label class="sr-only" for="form-email">Email</label>
                        <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Email</label>
                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-repeat-password">Email</label>
                        <input type="password" name="form-repeat-password" placeholder="Repeat password..." class="form-repeat-password form-control" id="form-repeat-password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-email">Email</label>
                        <input type="text" name="role" placeholder="Role..." class="form-email form-control" id="form-role">
                    </div>
                    <button type="submit" class="btn">Sign me up!</button>
                </form>
            </div>
        </div>

    </div>
</div>

</div>